<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>kvcDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2819FCC01F8B627500CA5676</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2819FCD91F8B627500CA5676</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2819FCE41F8B627500CA5676</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
