<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LFFAddressPickerView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BF766BE81DB76EAF00EEB043</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF766C011DB76EB000EEB043</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF766C0C1DB76EB100EEB043</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
