<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>passwdRegular.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>28355D1B1ED41AC100AE9232</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28355D341ED41AC100AE9232</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28355D3F1ED41AC100AE9232</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
