<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>paths</key>
	<array>
		<string>run1/core/stores/indexed-store-12</string>
		<string>run1/core/stores/indexed-store-13</string>
		<string>currentRun/core/uniquing</string>
		<string>currentRun/core/extensions/com.apple.dt.instruments.time-profiler.dtac</string>
		<string>run1/core/stores/indexed-store-14</string>
		<string>currentRun/core/extensions/com.apple.dt.instruments.base.dtac</string>
		<string>run1/core/stores/indexed-store-15</string>
		<string>run1/core/stores/indexed-store-16</string>
		<string>run1/core/extensions/com.apple.dt.instruments.base.dtac</string>
		<string>run1/core/extensions/com.apple.dt.instruments.cl-energy.dtac</string>
		<string>currentRun/core/stores/indexed-store-8</string>
		<string>currentRun/core/extensions/com.apple.dt.instruments.cl-energy.dtac</string>
		<string>currentRun/core/extensions/com.apple.dt.instruments.app-modeling.dtac</string>
		<string>currentRun/core/stores/indexed-store-7</string>
		<string>run1/core/extensions/com.apple.dt.instruments.ktrace.dtac</string>
		<string>run1/core/extensions/com.apple.dt.instruments.sampling.dtac</string>
		<string>currentRun/core/stores/indexed-store-6</string>
		<string>run1/core/stores/indexed-store-3</string>
		<string>currentRun/core/stores/indexed-store-5</string>
		<string>run1/core/table-manager</string>
		<string>currentRun/core/stores/indexed-store-4</string>
		<string>run1/core/stores/indexed-store-9</string>
		<string>currentRun/core/stores/indexed-store-3</string>
		<string>run1/core/extensions/com.apple.dt.instruments.poi.dtac</string>
		<string>run1/core/extensions/com.apple.dt.instruments.time-profiler.dtac</string>
		<string>run1/core/core-config</string>
		<string>currentRun/core/stores/indexed-store-2</string>
		<string>run1/core/extensions/com.apple.dt.instruments.production.dtac</string>
		<string>currentRun/core/extensions/com.apple.dt.instruments.production.dtac</string>
		<string>currentRun/core/stores/indexed-store-1</string>
		<string>currentRun/core/extensions/com.apple.dt.instruments.poi.dtac</string>
		<string>currentRun/core/extensions/com.apple.dt.instruments.sampling.dtac</string>
		<string>currentRun/core/extensions/com.apple.dt.instruments.ktrace.dtac</string>
		<string>run1/core/stores/indexed-store-10</string>
		<string>run1/core/uniquing</string>
		<string>currentRun/core/stores/indexed-store-0</string>
		<string>run1/core/extensions/com.apple.dt.instruments.app-modeling.dtac</string>
		<string>run1/core/stores/indexed-store-11</string>
	</array>
</dict>
</plist>
