<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>payNucCrashTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2822E6F01F06282B003F6D33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2822E7091F06282B003F6D33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2822E7141F06282B003F6D33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
