<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SDSuccessAnimationView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>283041C31F1F3707008D8E63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>283041DC1F1F3708008D8E63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>283041E71F1F3708008D8E63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
