<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MBPHUDProgressLFFDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>28F7509A1EF4B58200BFB8D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28F750B31EF4B58200BFB8D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28F750BE1EF4B58200BFB8D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
